[submodule "vendor/buildbook-rhel7"]
	path = vendor/buildbook-rhel7
	url = https://github.com/axsh/buildbook-rhel7.git
[submodule "vendor/vmbuilder"]
	path = vendor/vmbuilder
	url = https://github.com/axsh/vmbuilder.git
